.wrapper {
  transition-duration: 2s;
  color: white;
  margin-left: 100px ;
  padding: 30px;
  background-color: #222222;
  max-width: 300px;
  text-shadow: 1px 1px 2px #d7d7d7;
  .title{
    padding: 5px 30px;
    background-color: #3a3a3a;
    cursor: pointer;
    &:hover{
      background-color: #626262;
    }

  }
}
.names{
  background-color: #3a3a3a;
  margin: 5px 0px;
  padding: 5px 30px;
  cursor: pointer;
  &:hover {
    background-color: #626262;
  }
}